/***** GENERAL RULES *****/

:root {
  --color-bg-card-dark: #4bbfb4;
  --color-bg-card-light: #c9ece9;

  --color-primary-dark: #26605a;
  --color-primary-dark-2: #44aca2;
  --color-primary-light: #edf9f8;

  --color-secondary-dark: #fab005;
}

.ut-margin-top {
  margin-top: 1.7rem;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--color-primary-dark);
}


/***** NAVIGATION *****/
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary-light);
}



.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Akaya Telivigala", system-ui, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: currentColor;
}

.nav-item {
  margin: 0 0.3rem;
}

.navbar-brand img {
  margin-right: 15px;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.nav-link:link,
.nav-link:visited {
  font-size: 1.3rem;
  font-weight: bolder;
  color: var(--color-primary-dark-2);

  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: var(--color-primary-light);

}

/*  ANIMATION NAVBAR LINK */
.collapse ul li {
  list-style: none;
  margin: 10px;
  padding: 0 0.5rem;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 0.5s;
}

.collapse ul li:after {
  content: '';
  background-color: var(--color-primary-dark);
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  transition: top 0.5s, opacity 0.5s;
}

.collapse ul li:hover::after {
  top: 50%;
  opacity: 1;
}


/***** SECTION ARTICLES *****/

.section__articles {
  padding: 10rem 0;
  background-color: #f2f2f2;
}

.card {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
}

.card__picture-box {
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
}

.card__picture-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, var(--color-bg-card-light), var(--color-bg-card-dark));
  z-index: 1;
  opacity: 0.6;
}

.card__picture {
  filter: grayscale();
}

.card__picture-box img {
  width: 100%;
  transition: 0.5s all ease-in-out;
  display: block;
}

.card__picture-box:hover img {
  transform: scale(1.2);
}

.card__icon {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  opacity: 0.6;
  color: var(--color-secondary-dark);
}

.card-title {
  font-family: "Akaya Telivigala", system-ui, sans-serif;
  font-size: 1.6rem;
  margin: 1.5rem 0 1.3rem 0;
  text-align: center;
}

.card-text {
  font-size: 1.2rem;
  text-align: center;
}

/** POSITIVE QUOTE CIRCLES **/
.bg-blue {
  background-color: #4BBFB4;
}

.quote-circle .circle {
  background-color: #fff3bf;
  color: #333;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  /* Center the circle in its column */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  text-align: center;
}

/* Responsive adjustments For Positive Quote ciricles*/
@media (max-width: 991px) {
  .quote-circle .circle {
    height: 150px;
    width: 150px;
    font-size: 0.8rem;
  }
}

@media (max-width: 575px) {
  .quote-circle .circle {
    height: 120px;
    width: 120px;
    font-size: 0.7rem;
  }
}

/* Media query for Navbar */
@media (max-width: 500px) {
  .navbar-brand {
    flex-direction: column;
    margin-left: 10px;
  }

  .navbar-brand img {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

@media (max-width: 350px) {
  .navbar-brand img {
    width: 120px;
    height: auto;
  }

  .navbar-brand {
    font-size: 1.2rem;
  }
}

/***** LETTER GENERATOR FORM *****/
.section__letter-form {
  margin-top: 3rem;
}

.heading-primary {
  font-size: 2.5rem;
  font-family: "Akaya Telivigala", system-ui, sans-serif;
  text-align: center;
  color: var(--color-primary-dark);
}

.letter__form {
  background-color: var(--color-bg-card-light);
  padding: 2rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
}

.letter__form label {
  font-size: 1.3rem;
  font-weight: bolder;
}

.letter__form input,
.letter__form select {
  font-size: 1.2rem;
  font-family: inherit;
  border: none;
  color: inherit;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.letter__form input::placeholder {
  color: #aaa;
}

.letter__form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(253, 242, 233, 0.842);
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 1rem;
  border-radius: 9px;
  color: var(--color-primary-light);
  background-color: var(--color-primary-dark);
  font-weight: bolder;
  cursor: pointer;

  transition: all 0.7s;
}

.btn:hover {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
}