/***** GENERAL RULES *****/

:root {
  --color-bg-card-dark: #4bbfb4;
  --color-bg-card-light: #c9ece9;


}

.ut-margin-top {
  margin-top: 1.7rem;
}

body {
  font-family: "Nunito Sans", sans-serif;
}


/***** NAVIGATION *****/
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fff3bf;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Akaya Telivigala", system-ui, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

.navbar-brand img {
  margin-right: 15px;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

<<<<<<< HEAD

=======
>>>>>>> d588ba6d7943f5caf1b9bf343f3eb296ddd97a1a
/***** SECTION ARTICLES *****/

.section__articles {
  padding: 10rem 0;
  background-color: #f2f2f2;
}

.card {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
}

.card__picture-box {
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
}

.card__picture-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, var(--color-bg-card-light), var(--color-bg-card-dark));
  z-index: 1;
  opacity: 0.6;
}

.card__picture {
  filter: grayscale();
}

.card__picture-box img {
  width: 100%;
  transition: 0.5s all ease-in-out;
  display: block;
}

.card__picture-box:hover img {
  transform: scale(1.2);
}

.card__icon {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  opacity: 0.6;
  color: #5dc5bc;
}

.card-title {
  font-family: "Akaya Telivigala", system-ui, sans-serif;
  font-size: 1.6rem;
  margin: 1.5rem 0 1.3rem 0;
  text-align: center;
}

.card-text {
  font-size: 1.2rem;
  text-align: center;
}

/** POSITIVE QUOTE CIRCLES **/
.bg-blue {
  background-color: #4BBFB4;
}

.quote-circle .circle {
  background-color: #fff3bf;
  color: #333;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  /* Center the circle in its column */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  text-align: center;
}

/* Responsive adjustments For Positive Quote ciricles*/
@media (max-width: 991px) {
  .quote-circle .circle {
    height: 150px;
    width: 150px;
    font-size: 0.8rem;
  }
}

@media (max-width: 575px) {
  .quote-circle .circle {
    height: 120px;
    width: 120px;
    font-size: 0.7rem;
  }
}

<<<<<<< HEAD
/***** LETTER GENERATOR FORM *****/

=======
/* Media query for Navbar */
@media (max-width: 500px) {
  .navbar-brand {
    flex-direction: column;
    margin-left: 10px;
  }

  .navbar-brand img {
    margin-bottom: 10px; 
    margin-right: 0; 
  }
}

@media (max-width: 350px) {
  .navbar-brand img {
    width: 120px;
    height: auto; 
  }

  .navbar-brand {
    font-size: 1.2rem;
  }
}
>>>>>>> d588ba6d7943f5caf1b9bf343f3eb296ddd97a1a
