/***** GENERAL RULES *****/

:root {
  --color-bg-card-dark: #4bbfb4;
  --color-bg-card-light: #c9ece9;
}

body {
  font-family: "Nunito Sans", sans-serif;
}


/***** NAVIGATION *****/
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fff3bf;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-family: "Akaya Telivigala", system-ui, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

/***** SECTION ARTICLES *****/

.section__articles {
  padding: 10rem 0;
  background-color: #f2f2f2;
}

.card {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);

}

.card__picture-box {
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
}

.card__picture-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, var(--color-bg-card-light), var(--color-bg-card-dark));
  z-index: 1;
  opacity: 0.6;
}

.card__picture {
  filter: grayscale();
}

.card__picture-box img {
  width: 100%;
  transition: 0.5s all ease-in-out;

}

.card__picture-box:hover img {
  transform: scale(1.2);
}