/***** GENERAL RULES *****/

:root {
  --color-bg-card-dark: #4bbfb4;
  --color-bg-card-light: #c9ece9;

  --color-primary-dark: #26605a;
  --color-primary-dark-2: #44aca2;
  --color-primary-light: #edf9f8;

  --color-secondary-dark: #fab005;
  --color-secondary-light: #fff3bf;
}

.ut-margin-top {
  margin-top: 1.7rem;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--color-primary-dark);

}


/***** NAVIGATION *****/
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary-light);
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Akaya Telivigala", system-ui, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  padding-right: 5rem;
  color: currentColor;
}

.nav-item {
  margin: 0 0.3rem;
}

.navbar-brand img {
  margin-right: 15px;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.nav-link:link,
.nav-link:visited {
  font-size: 1.3rem;
  font-weight: bolder;
  color: var(--color-primary-dark);

  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: var(--color-primary-light);

}

/*  ANIMATION NAVBAR LINK */
.collapse ul li {
  list-style: none;
  margin: 10px;
  padding: 0 0.5rem;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 0.5s;
}

.collapse ul li:after {
  content: '';
  background-color: var(--color-primary-dark);
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  transition: top 0.5s, opacity 0.5s;
}

.collapse ul li:hover::after {
  top: 50%;
  opacity: 1;
}

/* END OF ANIMATION NAVBAR LINK */

/***** SECTION ABOUT US *****/
.section__about-us {
  padding: 6rem 0;
}

.about_us-box {
  align-items: center;
}

.heading-secondary {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;
  text-align: center;
}

/***** END OF SECTION ABOUT US *****/


/***** SECTION AFFIRMATIONS GENERATOR *****/

#generator {
  background-color: #f2f2f2;
}

#affirm-header {
  animation-duration: 5s;
  animation-name: moveInLeft;
  animation: moveInLeft 1s ease-out;
}

#affirm-btn {
  background-color: #26605a;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
  padding: 15px 40px;
  border-radius: 30px;
  border-color: #26605a;
  width: 20%;
}

#display-affirm {
  background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark));
  width: 50%;
  font-size: 1.5rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }

  80% {
    transform: translate(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }

}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse-grow:hover,
.hvr-pulse-grow:focus,
.hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}


@media (max-width: 800px) {
  #affirm-btn {
    width: 50%;
    font-size: 10px;
  }

  #display-affirm {
    background-color: #fff3bf;
    width: 60%;
    font-size: 1.5rem;
  }

}

@media (max-width: 400px) {
  #display-affirm {
    background-color: #fff3bf;
    width: 80%;
    font-size: 1rem;
  }
}

@media (max-width: 300px) {
  #affirm-btn {
    width: 60%;
    font-size: 10px;
  }
}

/***** END OF SECTION AFFIRMATIONS GENERATOR *****/


.paragraph {
  font-size: 1.2rem;
}

.image__box {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  grid-gap: 1.5rem;
  padding: 1.5rem;
}

.image__img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  display: block;

  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
  border-radius: 10px;
  filter: saturate(0.5);

}

.image__item--1 {
  grid-row: 3 / span 2;
  grid-column: 1 / span 3;
}

.image__item--2 {
  grid-row: 2 / span 2;
  grid-column: 2 / span 3;
}

/***** SECTION ARTICLES *****/

.section__articles {
  padding: 10rem 0;
  background-color: #f2f2f2;
}

.card {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
}

.card__picture-box {
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
}

.card__picture-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, var(--color-bg-card-light), var(--color-bg-card-dark));
  z-index: 1;
  opacity: 0.6;
}

.card__picture {
  filter: grayscale();
}

.card__picture-box img {
  width: 100%;
  transition: 0.5s all ease-in-out;
  display: block;
}

.card__picture-box:hover img {
  transform: scale(1.2);
}

.card__icon {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  opacity: 0.6;
  color: var(--color-secondary-dark);
}

.card-title {
  font-family: "Akaya Telivigala", system-ui, sans-serif;
  font-size: 1.6rem;
  margin: 1.5rem 0 1.3rem 0;
  text-align: center;
}

.card-text {
  font-size: 1.2rem;
  text-align: center;
}


/** POSITIVE QUOTE CIRCLES **/

.bg-blue {
  background-color: #f2f2f2;
}

.quote-circle .circle {
  background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark));
  color: var(--color-primary-dark);
  border-radius: 50%;
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  /* Center the circle in its column */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1.3rem;
  text-align: center;
  font-weight: 600;
}

/***** LETTER GENERATOR FORM *****/
.section__letter-form {
  margin-top: 3rem;
}

.heading-primary {
  font-size: 2.5rem;
  font-family: "Akaya Telivigala", system-ui, sans-serif;
  text-align: center;
  color: var(--color-primary-dark);
}

.letter__form {
  background-color: var(--color-bg-card-light);
  padding: 2rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
}

.letter__form label {
  font-size: 1.3rem;
  font-weight: bolder;
}

.letter__form input,
.letter__form select {
  font-size: 1.2rem;
  font-family: inherit;
  border: none;
  color: inherit;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.letter__form input::placeholder {
  color: #aaa;
}

.letter__form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(253, 242, 233, 0.842);
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 1rem;
  border-radius: 30px;
  color: var(--color-primary-light);
  background-color: var(--color-primary-dark);
  font-weight: bolder;
  cursor: pointer;

  transition: all 0.7s;
}

.btn:hover {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
}

/* GOOGLE TRANSLATE API STYLE*/
.skiptranslate,
.goog-te-gadget-simple {
  background-color: var(--color-primary-dark) !important;
}

.VIpgJd-ZVi9od-xl07Ob-lTBxed span {
  color: #fff;
  font-weight: bolder;
}

/* Translate button */
.bg-translate {
  background-color: var(--color-primary-light);
}

.translate-btn {
  background-color: var(--color-primary-dark);
  color: #f2f2f2;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
  border-radius: 30px;
}

.google-icon {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  padding: 0.2rem;
}

.google-icon-text {
  font-size: 0.75rem;
  font-weight: bolder;
  margin-left: 0.5rem;
  font-family: "Nunito Sans", sans-serif;
}

/* Responsive adjustments For Positive Quote ciricles*/
@media (max-width: 991px) {
  .quote-circle .circle {
    height: 150px;
    width: 150px;
    font-size: 0.8rem;
  }
}

@media (max-width: 575px) {
  .quote-circle .circle {
    height: 120px;
    width: 120px;
    font-size: 0.7rem;
  }
}

/* Media query for Navbar */
@media (max-width: 500px) {
  .navbar-brand {
    flex-direction: column;
    margin-left: 10px;
  }

  .navbar-brand img {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

@media (max-width: 350px) {
  .navbar-brand img {
    width: 120px;
    height: auto;
  }

  .navbar-brand {
    font-size: 1.2rem;
  }
}

.navbar-brand img {
  width: 120px;
  height: auto;

}

.navbar-nav {
  margin-left: 50px;
}

.nav-link {
  font-size: 1rem;
}