/***** GENERAL RULES *****/

body {
  font-family: "Nunito Sans", sans-serif;
}


/***** NAVIGATION *****/
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fff3bf;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-family: "Akaya Telivigala", system-ui, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

/** POSITIVE QUOTE CIRCLES **/
.bg-blue {
  background-color: #4BBFB4;
}
.quote-circle .circle {
  background-color: #fff3bf;
  color: #333;
  border-radius: 50%; 
  height: 200px; 
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto; /* Center the circle in its column */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-size: 0.9rem; 
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 991px) {
  .quote-circle .circle {
      height: 150px;
      width: 150px;
      font-size: 0.8rem;
  }
}

@media (max-width: 575px) {
  .quote-circle .circle {
      height: 120px;
      width: 120px;
      font-size: 0.7rem;
  }
}
